html,body {
  position: relative;
  background-color: #fafefa;
  color: #646262;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  width: 100%;
  margin: 0 0;
}

h1
{
  color: #0d430f;
  text-size: 20px;
}

h2
{
  text-align:center;
  text-size: 30px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

section#header
{
  position: absolute;
  top: 0;
  bottom: 90%;
  left: 0;
  right: 0;
}

section#main
{
  position: absolute;
  top: 10%;
  bottom: 0;
  right: 0;
  left: 0;
}

table
{
  margin: 0 0;
}

td
{
  text-align:center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

div.signup
{
  float: right;
}

label
{
  text-size: 1.5em;
}

input:not(#user_remember_me):not(.btn)
{
  width:280px;
    height:27px;
    background:#fafefa;
    border:1px solid #646262;
    padding:10px;
    margin-top:3px;
    font-size:1.5em;
    color:#646262;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input.btn
{
  border-radius:5px;
  background: #0d430f;
  color: #fafefa;
  height: 27px;
  width: 140px;
 &:hover {
  cursor:pointer;
  }
}

div#sign
{
  position: absolute;
  top: 25%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;

}

div#signup > a
{
  text-decoration: none;
  text-size: 2.1em;
}

div#forget
{
  position:absolute;
  top:25%;
  left: 50%;
  margin-top: 150px;
  margin-left: -100px;

}














